# Rename this file to .env

# Get your Free Groq API KEY at https://groq.com/developers
# Copy and paste your api key into the left side of the Streamlit front end UI
# If you rename this to a .env file you will not need to enter the API in the Streamlit front end UI


# GROQ_API_KEY ="your api key goes here" # If you create a .env file

# LANGSMITH
# Get your Free API KEY from https://smith.langchain.com

# LANGSMITH API KEY
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY="your api key goes here"
LANGCHAIN_PROJECT=aiengineergrandmas
